
.content{
    padding: 50px;
    background: #d9d9d9;
    /*height: 720px;*/
    height: 100%;

}

.listContainer{
    /*height: 580px;*/
}

.itemList {
    float: left;
    padding: 10px;
    margin-left: 10px;
    width: 1100px;
    text-align: center;
    font-weight: bold;
    background: white;
    color: white;
    height: 500px;
    overflow: auto;

}

.replacement{
    float: left;
    padding: 10px;
    margin-left: 50px;
    width: 600px;
    text-align: center;
    background: white;
    color: white;
    height: 500px;
}

.title{
    background: #036635;
    color: white;
    font-weight: bold;
}

.backButtonContainer{
    margin-left: 10px;
}

.backButton{
    background: #ffdb00;
    border-radius: 40px;
    font-size: 24px;
    padding: 8px 32px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.itemListHeader{
    column-count: 4;
    color: black;
    align-items: start;
}
