nav img {
    /* Positioning */
    padding-right: 25px;

    /* Formatting */
    height: 50px;
    width: auto;
}

nav {
    /* Positioning */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;

    /* Flexbox */
    display: flex;
    align-items: center;

    /* Formatting */
    overflow: hidden;
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

nav a {
    /* Positioning */
    float: left;
    display: block;

    /* Formatting */
    color: black;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 2em;
}

nav a:hover {
    /* Formatting */
    color: orange;
}

button.login {
    /* Formatting Colors & Shape*/
    color: white;
    background-color: #036635;
    border-color: darkgray;
    border-radius: 10px;
    height: 50px;

    /* Formatting Text */
    font-size: 1em;
    font-weight: bold;
}

button.login:hover {
    color: orange;
    background-color: white;
    cursor: pointer;
}