.shoppingCart {
    align-items: center;
    justify-content: center;
}

.shoppingCart .title{
    text-align: center;
    color: var(--lightYellow);
}

.shoppingCart .bottomSumup {
    color:var(--lightYellow);
    font-weight: 'bold';
    text-align:right;
}

.shoppingCart .cart-item{
    padding-bottom: 0.5rem;
    /*border-bottom: 4px solid rgba(256,256,256,0.5);*/
}

/* quantity control */

.shoppingCart .qtyControl {
    font-size: large;
    color: yellow;

}

.shoppingCart .qtyButton{
    color:var(--darkYellow);
}

.shoppingCart .button{
    font-weight: bold;
    color: --var(gray);
}
.shoppingCart .qtyControl .qtyNumber{
    display: block;
    color: white;
    font-size: medium;
    
    text-align: center;
}
