:root {
    --red: #b00;
    --blue: #00b;
    --darkGreen: #036635;
    --lightGreen: #01B636;
    --grey: #E3E3E3;
  }


/* side-bar */
.side-bar{
    background-color: var(--darkGreen);
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    
}

.side-bar h3 {
    color: yellow;
    font-weight: 'bold';
    text-align:left;
}

.side-bar h4 {
    color: white;
    text-align: right;
}

/* item categories */

.woodenBox {
    display: flex;
    height: 100%;
    width: 100%;
    background: url('../img/wooden-box.png') no-repeat center center;
    background-size: cover;

    justify-content: center;
    justify-items: center;
}

.woodenBox img{
    width: 80%;
    margin: auto;
}

/* floating container */
.floatingContainer{
    position: absolute;
    width: 50%;
    left: 25%;
    background-color: white;
}

.hidden { display:none; }

/* item list */
.list-item {
    text-align: right;
}

/* shopping cart */


.cart-item {
    text-align: right;
    margin: 1rem;
}

.cart-item h4 {
    color: white;
}